---
import explaination from "../assets/CraftServerExplanation.png";
import viewCommand from "../assets/view-command.png";

import Layout from "../layouts/Layout.astro";
import { Picture } from "@astrojs/image/components";
import { INVITE_LINK, SUPPORT_LINK } from "../constants";
import Hero from "../components/Hero.astro";
import Highlight from "../components/Highlight.astro";
import Embed from "../components/Embed.astro";
import LinkButton from "../components/LinkButton.astro";
import Card from "../components/Card.astro";
---

<Layout title="CraftServer Discord Bot">
    <div class="text-white">
        <Hero background="primary">
            {/* Title and bot tag */}
            <h1 class="flex justify-center gap-2 lg:gap-4">
                <span class="text-4xl lg:text-5xl font-title">CraftServer</span>
                <span
                    class="bg-blue-600 px-2 py-1 text-sm lg:text-lg rounded-md lg:rounded-lg self-center translate-y-1"
                    aria-hidden="true">
                    BOT
                </span>
            </h1>
            {/* Embed */}
            <Embed>
                View live information about your favorite
                <Highlight class="bg-green-600 text-white">
                    Minecraft:&nbsp;Java&nbsp;Edition
                </Highlight>
                servers, right from
                <Highlight class="bg-discord text-white">Discord.</Highlight>
            </Embed>
            {/* Button links */}
            <div class="flex gap-4 self-center">
                <LinkButton href={INVITE_LINK} primary>
                    Add to your server
                </LinkButton>
                <LinkButton href={SUPPORT_LINK}>Get support</LinkButton>
            </div>
        </Hero>
    </div>
    <main class="flex flex-col pb-16 bg-secondary">
        <h2 class="uppercase font-title text-2xl text-center m-6">Features</h2>
        <div class="flex gap-4 justify-center flex-wrap">
            <Card
                image={viewCommand}
                imageAlt="Illustration of the view command">
                CraftServer's <strong>/view</strong> command makes it easy to get
                instant information about a server's online status, how many people
                are playing, and more.
            </Card>
        </div>
        <h2 class="uppercase font-title text-2xl text-center m-6">
            Information-rich
        </h2>
        <div class="self-center rounded-xl mb-4 shadow-lg overflow-hidden">
            <Picture
                src={explaination}
                widths={[640, 512, 320]}
                sizes="(min-width: 768px) 640px, (min-width: 640px) 512px, 320px"
                alt={[
                    "View info about your server without starting up Minecraft.",
                    "Easily check if your server is online.",
                    "See how many others are playing.",
                    "Let people know what version to play on.",
                ].join(" ")}
            />
        </div>
    </main>
</Layout>
