---
import HamburgerRow from "./hamburger/HamburgerRow.astro";
import "./hamburger/hamburger.css";
---

<div class={`flex flex-col items-center gap-1.5 navbar-hamburger p-2`}>
    <HamburgerRow />
    <HamburgerRow />
    <HamburgerRow />
</div>
