<div
    class="bg-discord text-white p-4 self-center max-w-md mx-4 rounded-xl overflow-hidden min-h-[250px] relative flex items-center mb-4 shadow-lg">
    <div
        class="absolute object-none right-0 top-1/2 -translate-y-1/2 translate-x-[150px] sm:translate-x-[125px]">
        <slot name="image" />
    </div>
    <div class="w-[calc(100%-150px)] sm:w-[calc(100%-200px)] text-xl">
        <slot />
    </div>
</div>
