<h2
    class="bg-neutral-100 text-black text-3xl self-center rounded-xl lg:rounded-2xl overflow-hidden flex justify-center max-w-sm mx-5 sm:max-w-md lg:max-w-lg lg:text-4xl">
    <div class="bg-green-600 pl-2 lg:pl-3 self-stretch"></div>
    <div class="p-4 pl-5 sm:leading-snug">
        <slot />
    </div>
</h2>
