---
import logo from "../assets/logo.png";

import FooterIconMenu, {
    Props as FooterIconMenuProps,
} from "./footer/FooterIconMenu.astro";
import Image from "./Image.astro";

export interface Props extends FooterIconMenuProps {}

const { icons } = Astro.props;
---

<div
    class="flex flex-col gap-8 p-5 sm:p-20 text-center text-white items-center">
    <a class="flex items-center gap-3 text-xl font-semibold p-4" href="/">
        <Image
            src={logo}
            alt="CraftServer logo"
            width={70 * 2}
            aspectRatio={1 / 1}
            class="rounded-[100%] group-hover:rounded-3xl w-[40px] cursor-pointer"
        />
        CraftServer
    </a>
    <FooterIconMenu icons={icons} />
</div>
<div
    class="flex flex-col bg-gray-900 gap-2 p-5 text-center text-white items-center">
    <span>
        Contact:
        <a class="underline" href="mailto:bot@craftserver.net">
            bot@craftserver.net
        </a>
    </span>
    <span>
        &copy; 2023 CraftServer Discord Bot — All trademarks are the property of
        their respective owners.
    </span>
</div>

<!--
<div
    class="flex flex-col bg-primary justify-center items-center gap-6 p-5 sm:p-20 text-center text-white">
    <span>
        &copy; CraftServer Discord Bot 2023. All trademarks are the property of
        their respective owners.
    </span>
    <span>
        Contact:
        <a class="underline" href="mailto:bot@craftserver.net">
            bot@craftserver.net
        </a>
    </span>
    <FooterIconMenu icons={icons} />
</div>
 -->
