<div class={`flex flex-col py-10 gap-6 lg:gap-8 justify-center bg-primary`}>
    <slot />
</div>
<div class="bg-secondary wave w-full h-[10vw] mt-10"></div>

<style>
    .wave {
        background-image: url("/wave.svg");
        background-size: 100% 100%;
    }
</style>
