---
import logo from "../assets/logo.png";

import { Image } from "@astrojs/image/components";
import NavbarLinkMenu from "./navbar/NavbarLinkMenu.astro";
import NavbarHamburger from "./navbar/NavbarHamburger.astro";

export interface Props {
    links: Record<string, string>;
}

const { links } = Astro.props;
---

<x-navbar
    role="navigation"
    class="bg-primary/80 text-white flex max-md:flex-col md:items-center justify-between p-4 w-full sticky top-0 z-20 backdrop-blur">
    <div class="flex justify-between items-center">
        <a href="/" class="group self-start">
            <Image
                src={logo}
                alt="CraftServer logo"
                width={70}
                aspectRatio={1 / 1}
                class="rounded-[100%] group-hover:rounded-3xl min-w-[70px] cursor-pointer"
            />
        </a>
        <button
            type="button"
            class="navbar-toggle cursor-pointer md:hidden"
            title="Open navigation">
            <NavbarHamburger />
        </button>
    </div>
    <NavbarLinkMenu links={links} />
</x-navbar>
<script>
    class Navbar extends HTMLElement {
        constructor() {
            super();

            const linkMenu =
                this.querySelector<HTMLElement>("navbar-link-menu")!;
            const menuButton =
                this.querySelector<HTMLElement>(".navbar-toggle")!;
            const hamburgerIcon =
                this.querySelector<HTMLElement>(".navbar-hamburger")!;

            let HIDDEN = "max-md:hidden";

            const toggle = () => {
                if (linkMenu.classList.contains(HIDDEN)) {
                    linkMenu.classList.remove(HIDDEN);
                    window.scrollBy({
                        top: linkMenu.offsetHeight,
                    });
                    hamburgerIcon.classList.add("navbar-hamburger-active");
                    menuButton.setAttribute("title", "Close navigation");
                } else {
                    window.scrollBy({
                        top: -linkMenu.offsetHeight,
                    });
                    linkMenu.classList.add(HIDDEN);
                    hamburgerIcon.classList.remove("navbar-hamburger-active");
                    menuButton.setAttribute("title", "Open navigation");
                }
            };
            toggle();
            menuButton.addEventListener("click", toggle);
        }
    }

    customElements.define("x-navbar", Navbar);
</script>
