---
export interface Props {
    left?: boolean;
}

const { left = false } = Astro.props;
---

<p
    class={`max-w-sm sm:max-w-lg md:max-w-xl ${
        left ? "text-left" : "text-center"
    } self-center text-lg sm:text-xl text-neutral-200 pb-24`}>
    <slot />
</p>
