---
import Content from "../components/Content.astro";
import Layout from "./Layout.astro";
import Subheader from "../components/Subheader.astro";
import Title from "../components/Title.astro";

export interface Props {
    frontmatter: {
        title: string;
        description: string;
        subtitle?: any;
    };
}

const { frontmatter } = Astro.props;
const subtitle = frontmatter.subtitle ?? frontmatter.description;
---

<Layout title={frontmatter.title} description={frontmatter.description}>
    <Title>{frontmatter.title}</Title>
    {
        subtitle ? (
            <Subheader class="mx-auto" compact>
                {subtitle}
            </Subheader>
        ) : null
    }
    <Content>
        <slot />
    </Content>
</Layout>
